/* These classes have lower specificity so we can override them
   with utility classes */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  @apply overflow-hidden;
}
