/* These classes have lower specificity so we can override them
   with utility classes */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  @apply overflow-hidden;
}

::selection {
  @apply bg-brand-300 text-brand-900 opacity-100;
}
